@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  @apply bg-zinc-900 text-zinc-300;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.banner_shine {
  /* transition: 20s infinite; */
  animation: infinite;
  animation-name: banner_shine;
  animation-duration: 4s;
}

@keyframes banner_shine {
  2%, 10%, 22%, 25% {
    opacity: 1;
  }
  6% {
    opacity: 0.3;
  }
  0%, 4%, 7%, 23% {
    opacity: 0;
  }
}
